 main_directory/  
...class_a/  
......a_text_1.txt  
......a_text_2.txt  
...class_b/  
......b_text_1.txt  
......b_text_2.txt

In [37]:
import pandas as pd
from collections import Counter
import os

In [19]:
ls ../data/raw

lenta_10k_3_classes.csv

In [20]:
path = '../data/raw/lenta_10k_3_classes.csv'

In [21]:
df = pd.read_csv(path)

In [23]:
df.head()

                                                text      topic
0  С 1 января 2000 года все телеканалы будут опла...  Экономика
1  Германский автопромышленный концерн Volkswagen...  Экономика
2  Нераспределенная прибыль ОАО "Тюменнефтегаз", ...  Экономика
3  Две крупнейших телекоммуникационных компании С...  Экономика
4  ОАО "ГАЗ" и Нижегородский банк Сбербанка Росси...  Экономика

In [31]:
# Take a glance at unique classes
df['topic'].unique()

array(['Экономика', 'Спорт', 'Культура'], dtype=object)

In [32]:
# Distributions
Counter(df['topic'])

Counter({'Экономика': 4902, 'Спорт': 2170, 'Культура': 2928})

In [38]:
directory = 'test_dir'
if not os.path.exists(directory):
    os.makedirs(directory)

In [39]:
ls

1.-ass-prepare_data.ipynb  test_dir/

In [61]:
def create_dir_path(*dir_names):
    """
    Concatenates variable num of dir names using forward slash
    """
    
    path = ''
    for name in dir_names:
        path += "/" + name
    
    return path[1:]

In [76]:
def create_text_files_dir(df, text_col='text', label_col='topic', dir_name='dataset', path='../data/interim'):
    """
    Creates a text dir w/ the following structure from a dataframe:
     main_directory/  
    ...class_a/  
    ......a_text_1.txt  
    ......a_text_2.txt  
    ...class_b/  
    ......b_text_1.txt  
    ......b_text_2.txt
    """
    
#     # create root dir
#     if not os.path.exists(dir_name):
#         print(dir_name)
#         os.makedirs(dir_name)
    
    # create dirs with label names if they don't exhist yet
    class_names = df['topic'].unique()
    for class_name in class_names:
        class_name_dir_path = create_dir_path(path, dir_name, class_name)
        if not os.path.exists(class_name_dir_path):
            os.makedirs(class_name_dir_path)     
        # fill the dirs w/ text files
        class_df = df[df['topic']=='Экономика']
        for i, row in class_df.iterrows():
            with open(f'{class_name_dir_path}/{class_name}_text_{i}.txt', 'w+') as f:
                f.write(row['text'])

In [77]:
create_text_files_dir(df)