 main_directory/  
...class_a/  
......a_text_1.txt  
......a_text_2.txt  
...class_b/  
......b_text_1.txt  
......b_text_2.txt

In [27]:
import pandas as pd
from collections import Counter

In [19]:
ls ../data/raw

lenta_10k_3_classes.csv

In [20]:
path = '../data/raw/lenta_10k_3_classes.csv'

In [21]:
df = pd.read_csv(path)

In [23]:
df.head()

                                                text      topic
0  С 1 января 2000 года все телеканалы будут опла...  Экономика
1  Германский автопромышленный концерн Volkswagen...  Экономика
2  Нераспределенная прибыль ОАО "Тюменнефтегаз", ...  Экономика
3  Две крупнейших телекоммуникационных компании С...  Экономика
4  ОАО "ГАЗ" и Нижегородский банк Сбербанка Росси...  Экономика

In [31]:
# Take a glance at unique classes
df['topic'].unique()

array(['Экономика', 'Спорт', 'Культура'], dtype=object)

In [32]:
# Distributions
Counter(df['topic'])

Counter({'Экономика': 4902, 'Спорт': 2170, 'Культура': 2928})

In [35]:
def create_text_files_dir(df, text_col='text', label_col='topic', root_path='../data', name=):
    """
    Creates a text dir w/ the following structure from a dataframe:
     main_directory/  
    ...class_a/  
    ......a_text_1.txt  
    ......a_text_2.txt  
    ...class_b/  
    ......b_text_1.txt  
    ......b_text_2.txt
    """
    
    classes = df['topic'].unique()